<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

{% for stack in locations['border_gamma'], locations['edge_gamma'] %}
    {% for realm_domain, location in stack.items() %}
    <bean id="authAccount.{{ realm_domain }}" class="java.lang.String">
        <constructor-arg value="{{ location['account'] }}"/>
    </bean>
    {% endfor %}
{% endfor %}

    <util:map id="gamma.regionEndpointsMap">
        {% for location in locations['border_gamma'].values() %}
            <entry key="{{ location['mitigation_region'] }}" value="{{ location['mitsvc_endpoint'].split('//')[1] }}"/>
        {% endfor %}
        <!-- edge gamma endpoint -->
        <entry key="IAD" value="lookout-mitigation-service-us-east-1-gamma-iad.iad.proxy.amazon.com"/>
    </util:map>
</beans>