{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": "lookout:*",
            "Resource": "arn:aws:lookout:*::metadata/transit-provider"
        }
    ]
}