<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Properties>
        <Property name="log-path">${env:APOLLO_ACTUAL_ENVIRONMENT_ROOT}/var/output/logs</Property>
    </Properties>
    <Appenders>
        <AmazonRollingRandomAccessFile name="APPLICATION" filePattern="${log-path}/LookoutMitigationService.log.%d{yyyy-MM-dd-HH}" >
            <PatternLayout>
                <pattern>%d{DATE} [%p] %X{RequestId} (%t) %c: %m%n</pattern>
            </PatternLayout>
        </AmazonRollingRandomAccessFile>
        <AmazonRollingRandomAccessFile name="REQUESTLOG" filePattern="${log-path}/requests.log.%d{yyyy-MM-dd-HH}" >
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
        </AmazonRollingRandomAccessFile>
        <AmazonRollingRandomAccessFile name="WIRE" filePattern="${log-path}/wire_service.log.%d{yyyy-MM-dd-HH}" >
            <PatternLayout>
                <Pattern>%d{DATE} [%p] %X{RequestId} (%t) %c: %m%n</Pattern>
            </PatternLayout>
        </AmazonRollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="APPLICATION"/>
        </Root>
        <Logger name="REQUESTLOG" level="TRACE" additivity="false">
            <AppenderRef ref="REQUESTLOG" level="TRACE"/>
        </Logger>
         <Logger name="com.amazon.coral.service.RequestLoggingInterceptor" level="TRACE">
            <AppenderRef ref="REQUESTLOG" level="TRACE"/>
        </Logger>
        <Logger name="WIRE" level="INFO">
            <AppenderRef ref="WIRE" level="INFO"/>
        </Logger>
        <Logger name="CLASSPATH" level="OFF" />
        <Logger name="com.amazon.coral" level="ERROR" />
        <Logger name="com.amazon.coral.reflect" level="ERROR" />
        <Logger name="com.amazonaws" level="ERROR" />
        <Logger name="org.apache" level="ERROR" />
        <Logger name="com.amazon.lookout" level="DEBUG" />
        <Logger name="com.amazon.aws158" level="DEBUG" />
        <Logger name="com.amazon.bardock" level="DEBUG" />
    </Loggers>
</Configuration>